@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}

.main__wrapper {
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
}
